<div class="container-fluid">
    <app-page-title title="Change Password" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-12">
                        <form autocomplete="off">
                            <div class="form-group row">
                                <label for="newPassword" class="col-sm-2 col-form-label">New Password
                                </label>
                                <div class="col-sm-4">
                                    <input autocomplete="off" type="password"
                                        [(ngModel)]="changePasswordModel.newPassword" name="newPassword" pInputText
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password
                                </label>
                                <div class="col-sm-4">
                                    <input autocomplete="off" type="password"
                                        [(ngModel)]="changePasswordModel.confirmPassword" name="confirmPassword"
                                        pInputText class="form-control">
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-12">
                                    <div class="float-right">
                                        <div class="btn-group">
                                            <button class="btn btn-light mr-2" type="button"
                                                (click)="cancelClickFunction()">Cancel</button>
                                            <button class="btn btn-info" type="button"
                                                (click)="updateClickFunction()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>